{% extends "templates/template_cenario_0.html" %}

{% block title %}
{% endblock %}

{% block titulo %}
{% endblock %}

{% block content %}

      <br>
      <div>
        <a href= "{% url 'medicos:socio_incluir' id_empresa=id_empresa%}" class="btn btn-primary btn-md" role="button"> Incluir Sócio </a>
        <!--<a href="http://www.google.co.uk/" onclick="return (confirm('Follow this link?'))">Google</a>-->

      </div>
      <br>
      <br>

      <table class="table table-bordered table-striped table-hover " >
                <tr>
                  <th rowspan="1">Id</th>          
                  <th rowspan="1">CPF</th>
                  <th rowspan="1">Pessoa </th>   
                                 
                </tr>
        
                {% for socio in lstSocios %}
                  <tr>
                    <td><a href= "{% url 'medicos:socio_excluir' id_pessoa=socio.pessoa.id id_empresa=id_empresa  %}"  onclick="return (confirm('Confirma a exclusão?'))" > Excluir </a> {{ forloop.counter }}</td>
                    <td> {{ socio.pessoa.CPF}}</td>    
                    <td> {{ socio.pessoa.name}}</td>    

                  </tr>
                {% endfor %}
              </table>


{% endblock %}
