{# Padronização SaaS: sidebar, topbar e conteúdo modularizados. Siga as diretrizes do projeto. #}
{% extends "auth/base.html" %}
{% block title %}Organização{% endblock %}
{% block sidebar %}{% include 'medicos/sidebar.html' %}{% endblock %}
{% block topbar %}{% include 'layouts/topbar.html' %}{% endblock %}
{% block content %}
<h2 class="saas-title">{{ organization.name }}</h2>
<ul class="list-group mb-3">
  <li class="list-group-item"><strong>ID:</strong> {{ organization.id }}</li>
  <li class="list-group-item"><strong>Criada por:</strong> {{ organization.created_by.get_full_name }}</li>
  <li class="list-group-item"><strong>Data de criação:</strong> {{ organization.created_at }}</li>
</ul>
<a class="saas-btn" href="{% url 'invite_member' organization.id %}">Convidar Membro</a>
<a class="saas-link ml-3" href="{% url 'organization_list' %}">Voltar</a>
{% endblock %}