{% extends 'master_home.html' %}


{% block title %}
  Quem somos
{% endblock %}

{% block titulo %}
  Quem somos
{% endblock %}


{% block content %}

<div>
  <a>Desenvolvedores de ferramentas para instrumentalizar a rotina de tomada de decisões. </a>
  <p>
  <h3>Objetivos do aplicativo: </h3>
  <a>- Facilitar o acesso aos dados históricos das edições do SISU; </a><br>
  <a>- Auxiliar a tomada de decisão através da disponibilização de dados organizados ; </a><br>
  <a>- Permitir conhecimento de resultados estatísticos de potencial vantagem no processo de candidatura; </a><br>  
</div>
  
{% endblock %}
