{% extends 'layouts/base_cenario_cadastro.html' %}
{% block title %}Editar Meio de Pagamento{% endblock %}
{% block content %}
<div class="container py-4">
  <h3>Editar Meio de Pagamento</h3>
  <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Salvar</button>
    {% if object.conta.empresas.first %}
      <a href="{% url 'medicos:lista_meios_pagamento' empresa_id=object.conta.empresas.first.id %}" class="btn btn-secondary">Cancelar</a>
    {% else %}
      <a href="{% url 'medicos:startempresa' empresa_id=request.session.empresa_id %}" class="btn btn-secondary">Cancelar</a>
    {% endif %}
  </form>
</div>
{% endblock %}
