{% extends 'layouts/base_cenario_cadastro.html' %}
{% block content %}
<div class="container py-4">
  <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Salvar</button>
    {% if empresa_id %}
      <a href="{% url 'medicos:lista_meios_pagamento' empresa_id=empresa_id %}" class="btn btn-secondary">Cancelar</a>
    {% else %}
      <a href="{% url 'medicos:cenario_cadastro' %}" class="btn btn-secondary">Cancelar</a>
    {% endif %}
  </form>
</div>
{% endblock %}
