{% extends "templates/template_cenario_2.html" %}

{% block title %}
  Relatorios
{% endblock %}

{% block titulo %}
{% endblock %}

{% block content %}
<div>
    <!-- main -->
    <div class="main">
     
      <!-- barra ações-->
           <table>
                <tr>
                    <th rowspan="1" colspan="1"> id </th>   
                    <th rowspan="1" colspan="1">Socio </th>          
                </tr>

                {% for socio in lst_socio %}
                <tr>  
                      <td rowspan="1" colspan="1"> {{ forloop.counter }}</td>
                      <td rowspan="1" colspan="1"> <a href={% url 'medicos:relatorio_socio_mes' socio_id=socio.id %}> {{socio.pessoa.name}} <a/></td>  
                {% endfor %}
                </tr>

            </table>

    </div>
</div>
{% endblock %}
