{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <!--  SCRIPTS -->
    {% block bl_script %}   
    {% endblock %}

    <!-- Titulo que aparece na barra do navegador  -->
    <title> 
    {% block title %}  
    {% endblock %} 
    </title>

    <!-- styles     -->
    {#{% include 'templates/css_geral.html' %}#}
    {#{% include 'templates/css_layout.html' %}#}

    {% include 'layouts/base_css.html' %}

  </head>
 
  <body>

  <!-- CABEÇALHO -->
    <div> 

    <!-- mensagens popup -->
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}


        <!-- TOP MENU   -->
        {% include 'layouts/topbar.html' %}

        <!-- Descrição da Pagina -->
        <div class="w3-container w3-teal">
          <p class="h6" >{{request.session.titulo_1}} </p>
          <a class="h3" >{{request.session.titulo_2}} </a>
          <p class="h6">{{request.session.titulo_3}} </p>
        </div>
    </div>
    
      <!-- Data Picker -->
      <div class="w3-container">
        <a>Período Fiscal: </a>
        <a class="w3-text-black" >
            <input type="month" id="myPeriodo" name="myPeriodo" min="2020-01" value={{request.session.periodo_fiscal}} onchange="myPeriodo()" />
        </a>
      </div>

      <div class="w3-container w3-teal"> 
        {% block datapicker %} 

          <script type="text/javascript">

            function myPeriodo() {
              var selected_year_month = document.getElementById("myPeriodo").value;
              var mydata = selected_year_month ;

              {# alert("script teste 2 miltinho! = " + mydata); #}
              document.getElementById("mytext").value=mydata;
              document.getElementById("theForm").submit();

            }

          </script>

          <form method="post" id="theForm" name="theForm" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" name="form_type" value="getdata">
              <input type="hidden" type="text" id="mytext" name="mytext">
              <input type="submit" value="teste" hidden>
          </form>

        {% endblock %}  
      </div>


  <!-- NAV sidebar -->
  <div class="sidebar">
    {% include 'templates/sidebar_cenario_2.html' %}
  </div>


  <!-- CONTEUDO -->
  <div class="content">
    {% block content %} 

    {% endblock %}  
  </div>

    <!-- for select2 -->
    {{ form.media.js }}



</body>

</html>
