{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

<!DOCTYPE html>
<html >
  <head>

    <!-- Titulo que aparece na barra do navegador  -->
    <title> 
    {% block title %}  
    {% endblock %} 
    </title>

    <!-- styles     -->
    {#{% include 'templates/css_geral.html' %}#}
    {#{% include 'templates/css_layout.html' %}#}

    {% include 'layouts/base_css.html' %}
  </head>

  <body>

   <!-- mensagens popup -->
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}


  <!-- TOP MENU   -->
  {% include 'layouts/topbar.html' %}

  <div class="layout-container">
    <div class="sidebar">
      {% include 'layouts/sidebar_cenario_1.html' %}
    </div>
    <div class="content mt-5">
      <div class="w3-container w3-border w3-teal">
        <p class="h6" >{{request.session.titulo_1}} </p>
        <a class="h3" >{{request.session.titulo_2}} </a>
        <p class="h6">{{request.session.titulo_3}} </p>
      </div>
      {% block content %} 
      {% endblock %}  
    </div>
  </div>

     <!-- for select2 -->
    {{ form.media.js }}

    <!-- SCRIPTS EXTRAS (DataTables, etc) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% block bl_script %}{% endblock %}
  </body>
</html>
