<!-- The sidebar -->

    cenario_0
    <a href="{% url 'medicos:index' %}" >Home</a>
    <a href="{% url 'medicos:cadastro_empresa'%}" >Cadastro de Empresas  </a>
    <a href="{% url 'medicos:cadastro_pessoa' %}" > Cadastro de sócios </a>
    <a href="{% url 'medicos:cadastro_societario'%}" > Vínculo de sócios </a>
    <a href="{% url 'medicos:cadastro_alicotas'%}" > Cadastro de Aliquotas </a>   
    <a href="{% url 'medicos:cadastro_despesa_grupo'%}" > Cadastro de grupo de despesas </a>  
    <a href="{% url 'medicos:cadastro_despesa_item'%}" > Cadastro de item de despesa </a>   
    <a href="{% url 'medicos:Cadastro_Desc_Mov_Financeiras_TableView'%}" > Cadastro de descricao de movimentação financeira </a>

    <!-- Nenhum href="#" encontrado neste template. -->
