<!-- The sidebar -->
cenario_2
    <a href="#" class="disabled">Home (em breve)</a>
    <a href="#" class="disabled">Faturamento (em breve)</a>
    <a href="#" class="disabled">Financeiro (em breve)</a>
    <a href="#" class="disabled">Despesas Coletivas (em breve)</a>
    <a href="#" class="disabled">Despesas de Sócio (em breve)</a>
    <a href="#" class="disabled">Demonstrativo de Resultado (em breve)</a>
    <a href="#" class="disabled">Apuração CSLL/IRPJ (em breve)</a>
    <a href="#" class="disabled">Apuração ISSQN (em breve)</a>
    <a href="#" class="disabled">Apuração PIS (em breve)</a>
    <a href="#" class="disabled">Apuração COFINS (em breve)</a>
    <a href="#" class="disabled">Rendimento de Aplicações (em breve)</a>

    <!-- Todos os links acima são placeholders para rotas ainda não implementadas. -->


