<!-- The sidebar -->

    cenario_0
    <a href="{% url 'medicos:index' %}" >Home</a>
    <a href="#">Cadastro de Empresas</a> {# # link quebrado #}
    <a href="#">Cadastro de sócios</a> {# # link quebrado #}
    <a href="#">Cadastro de Aliquotas</a> {# # link quebrado #}
    <a href="#">Cadastro de grupo de despesas</a> {# # link quebrado #}
    <a href="#">Cadastro de item de despesa</a> {# # link quebrado #}
    <a href="#">Cadastro de descricao de movimentação financeira</a> {# # link quebrado #}
