{% extends "templates/template_cenario_2.html" %}

{% block bl_script %} 

{% endblock %}

{% block title %}
  Despesa Sócio
{% endblock %}

{% block titulo %}

{% endblock %}

{% block content %}

    <br>
    <br>
            <div class="w3-container w3-teal">
              DESPESAS DE SÓCIO
            </div>
    <br>
    <br>
            <table class="table table-bordered table-striped table-hover " >
                <tr>
                    <th rowspan="1" colspan="1">id </th>   
                    <th rowspan="1" colspan="1">Sócio </th>    
                    <th rowspan="1" colspan="1">Despesas </th>    
                    <th rowspan="1" colspan="1">Rateio </th>    
                </tr>

                {% for socio in lst_socios %}
                <tr>  
                      <td rowspan="1" colspan="1"> {{ forloop.counter }}</td>
                      <td rowspan="1" colspan="1"> {{socio.pessoa.name}} </td>  
                      <td rowspan="1" colspan="1"> <a href={% url 'medicos:Despesas_Socio_View' socio_id=socio.id %}> Despesas de socio </td>  
                      <td rowspan="1" colspan="1"> <a href={% url 'medicos:despesa_rateio_socio' socio_id=socio.id %} >Rateio de despesas</a> </td>
                {% endfor %}
                </tr>
            </table>


{% endblock %}
