{% extends "templates/template_cenario_2.html" %}

{% block bl_script %} 
<script type="text/javascript">

</script>
{% endblock %}

{% block title %}
Despesas
{% endblock %}

{% block titulo %}
  <!--  links  -->
  <my_cab_l1>{{empresa}} </my_cab_l1><br>
  <my_cab_l2> Despesa socio: {{socio.pessoa.name}}</my_cab_l2><br>

{% endblock %}


{% block content %}

  <div>

    <!-- main -->
    <div class="main">

        <a href={% url 'medicos:despesa_socio_incluir' socio_id=socio.id %}  class="btn btn-primary btn-md" role="button"> incluir despesa</a>
        <table> 
          <tr>
            <td>

              <table>
                <tr>
                  <th rowspan="1">id</th>    
                  <th rowspan="1">data</th>                  
                  <th rowspan="1">groupo de despesa</th>
                  <th rowspan="1">Item </th>   
                  <th rowspan="1">valor </th>                  
                </tr>
        
                {% for despesa in lst_despesas %}
                  <tr>
                    <td> <a href= "{% url 'medicos:despesa_socio_editar' despesa_id=despesa.id%}" > Editar </a>|<a href= "{% url 'medicos:despesa_socio_excluir' despesa_id=despesa.id socio_id=socio.id%}"  onclick="return (confirm('Confirma a exclusão?'))" > Excluir </a> {{ forloop.counter }}</td>
                     <td>{{ despesa.data|date:"d/m/Y" }}</td>
                    <td>{{ despesa.item.grupo.codigo}}</td>    
                    <td>{{ despesa.item.descricao}}</td>                       
                    <td>{{ despesa.valor}}</td>    

                  </tr>
                {% endfor %}
              </table>
            </td>
          </tr>
        </table>

    </div>
  </div>


{% endblock %}
