{% extends "templates/template_cenario_2.html" %}

<!-- definições de tags-->
{{empresa}} 

{% block title %}
 Despesas 
{% endblock %}

{% block titulo %}
{% endblock %}


{% block content %}

    <div>
       <table> 
          <tr>
            <td>
                <a href={% url 'medicos:despesa_coletiva'%}  class="btn btn-primary btn-lg" role="button">Despesa coletiva</a>
                <a href={% url 'medicos:despesa_socio' %}  class="btn btn-primary btn-lg" role="button">Despesa de sócio</a>
                <a href={% url 'medicos:despesa_rateio'%}  class="btn btn-primary btn-lg" role="button">Definição de rateio</a>
            </td>
          </tr>
        </table>
    </div>

{% endblock %}
