{% extends "templates/template_cenario_1.html" %}
{% load render_table from django_tables2 %}

{% block bl_script %} 
{% endblock %}

<style>
</style>

{% block title %}
  start
{% endblock %}

{% block titulo %}
{% endblock %}

{% block content %}

  <div class="container">
      <table> 
        <tr>
          <td>
            <table> 
              <tr>
                <td>
                    {% render_table table %}
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

  </div>

{% endblock %}
