{% extends "templates/template_cenario_2.html" %}

{% block bl_script %} 
<script type="text/javascript">

</script>
{% endblock %}


{% block title %}
Despesas
{% endblock %}

{% block titulo %}
  <!--  links  -->
  <my_cab_l1>{{empresa.name}} </my_cab_l1><br>
  <my_cab_l2> Rateio de despesas: {{socio.pessoa.name}}</my_cab_l2><br>

{% endblock %}


{% block content %}
  <div>

      <!-- main -->
    <div class="main">

      <!-- barra ações-->
      <div>
        <!--<a href="http://www.google.co.uk/" onclick="return (confirm('Follow this link?'))">Google</a>-->

      </div>
        <table> 
        <tr>
        <td>

              <div style="background-color:#e5e5e5;padding:15px;text-align:left;">

                <form method="post" enctype= multipart/form-data>
                {{ formset.management_form }}
                {% csrf_token %}
                <table>
                    <thead>
                        {% for form in formset.forms %}
                            {% if forloop.first %}
                                {% for field in form %}
                                    <th>{{ field.label_tag }}</th>
                                {% endfor %}
                            {% endif %}
                    </thead>
                    <tbody>
                            <tr>
                                {% for field in form %}
                                  <td>{{ field }}</td>                       

                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                  <hr/>
                  <input type="submit"  class="btn btn-primary btn-md" value="Confirma" />
                </form>

              </div>

        </td>
        </tr>
        </table>

    </div>
  </div>
{% endblock %}
