{% extends "templates/template_cenario_2.html" %}
{% load render_table from django_tables2 %}

{% block bl_script %} 
<script type="text/javascript">

</script>
{% endblock %}


{% block title %}
  Despesas folha/geral
{% endblock %}

{% block titulo %}

  <!--  links  -->
  <my_cab_l1>{{empresa}} </my_cab_l1><br>
  <my_cab_l2> Despesa de folha e Despesa geral</my_cab_l2><br>

{% endblock %}


{% block content %}

    <br>

      <div>
        <a href={% url 'medicos:despesa_incluir'%}  class="btn btn-primary btn-md" role="button"> Incluir despesa</a>
        <a href={% url 'medicos:despesa_copiar' %}  class="btn btn-primary btn-md" role="button"  onclick="return (confirm('Confirma a cópia das despesas do mês anterior?'))"> Copiar despesas mês anterior</a>
      </div>

    <br>

      {% render_table table %}

{% endblock %}
