{% extends "templates/template_cenario_2.html" %}

{% block bl_script %} 
  <script type="text/javascript">

    window.onload = function()
    {
        document.getElementById("rateio_1_1").onchange = function()
        {
          alert("MUDOU MILTINHO !!!"  );
          document.getElementById("myText").value = "mudou!!";
        };
    };

  </script>
{% endblock %}


{% block title %}
Despesas
{% endblock %}

{% block titulo %}
  <my_cab_l1>{{empresa}} </my_cab_l1><br>
  <my_cab_l2> Rateio de despesas</my_cab_l2><br>

{% endblock %}

{% block content %}
  <div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="{% url 'medicos:despesa_rateio'  mes=1 %}">Janeiro</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'medicos:despesa_rateio'  mes=2%}">Março</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'medicos:despesa_rateio'  mes=3%}">Março</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'medicos:despesa_rateio'  mes=4 %}">Abril</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'medicos:despesa_rateio'  mes=5 %}">Maio</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'medicos:despesa_rateio'  mes=6 %}">Junho</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'medicos:despesa_rateio'  mes=7 %}">Julho</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'medicos:despesa_rateio'  mes=8 %}">Agosto</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'medicos:despesa_rateio'  mes=9 %}">Setembro</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'medicos:despesa_rateio'  mes=10 %}">Outubro</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'medicos:despesa_rateio'  mes=11 %}">Novembro</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'medicos:despesa_rateio'  mes=12 %}">Dezembro</a></li>
  </ul>
</nav>

      <!-- main -->
    <div class="main">

      <!-- barra ações-->
      <div>
        <!--<a href="http://www.google.co.uk/" onclick="return (confirm('Follow this link?'))">Google</a>-->

      </div>
        <table> 
        <tr>
        <td>
            <form method="post">{% csrf_token %}

              <!-- Tabela com itens do rateio-->
              <table style="float: left">
                <!-- cabeçalho -->
                <tr>
                  <th rowspan="1">id</th>    
                  <th rowspan="1">CPF</th>
                  <th rowspan="1">Socio</th>

                <!-- tabela -->
                {% for socio in lst_socios %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ socio.pessoa.CPF}}</td>                
                  <td> <a href="{% url 'medicos:despesa_rateio_socio' socio_id=socio.pk mes=mes%}"> {{ socio.pessoa.name}}</td>  
                  </tr>
                {% endfor %}
              </table>

          <hr>

        </td>
        </tr>
        </table>

    </div>
  </div>



{% endblock %}
