{% extends "templates/template_cenario_2.html" %}
{% load crispy_forms_tags %}

{% block title %}
  {{tipo_operacao}}
{% endblock %}

{% block titulo %}
  <my_cab_l1>{{empresa}} </my_cab_l1><br>
  <my_cab_l2>Despesa coletiva: editar/incluir </my_cab_l2><br>

{% endblock %}

<style>
  h1 {
    color: red;
  }
  p.msg {
    background-color: hsl(120, 100%, 50%);
  }
</style>

{% block content %}

    <h6 class="text-left p-3">Entre com os dados </h6>

        <div class="container p-3" style="width:70%; "> 
              <form method="post">
                {% csrf_token %}
                <div class="card" style="width: 40rem; background-color: beige;">
                    <div class="card-body" style="color: black;" >
                      {% crispy form %}
                    </div>

                  <button type="submit" class="btn btn-sm btn-primary px-6">Confirmar</button>
                </div>
              </form>
        </div>
        
    <a id="demo" onclick="myVivo()" hidden> click em min para teste</a> 
    <a id="calc" onclick="alicotas_calc()" hidden> click para calcular</a>


<!-- teste jquery 
<script type="text/javascript"> 
    window.onload = function() {
       if (window.jQuery) {
          alert('jQuery is loaded');
       } else {
          alert('jQuery is not loaded');
       }
    }


</script>
-->

{% endblock %}
