{% extends 'layouts/base_cenario_home.html' %}
{% load crispy_forms_tags %}
{% block title %}Nova Empresa{% endblock %}
{% block content %}
<div class="container mt-4">
  <h2>Cadastrar Nova Empresa</h2>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <form method="post">{% csrf_token %}
    <div class="mb-3">
      <label for="mes_ano" class="form-label fw-bold">Competência:</label>
      <input type="month" id="mes_ano" name="mes_ano" class="form-control" value="{{ mes_ano|default:'' }}">
    </div>
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary mt-2">Salvar</button>
  </form>
  <a href="{% url 'medicos:empresa_create' %}" class="btn btn-secondary mt-2">Cancelar</a>
</div>
{% endblock %}
