{% extends 'layouts/base_cenario_home.html' %}
{% load django_tables2 %}
{% block title %}Empresas{% endblock %}
{% block content %}
<div class="container mt-4">
  <h2>Empresas da Conta</h2>
  <form method="get" class="mb-3">
    <div class="row g-2 align-items-end">
      <div class="col-md-6">
        {{ empresa_filter.form.name.label_tag }}
        {{ empresa_filter.form.name }}
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-outline-primary">Filtrar</button>
      </div>
    </div>
  </form>
  <a href="{% url 'medicos:empresa_create' %}" class="btn btn-success mb-3">Nova Empresa</a>
  {% render_table table %}
</div>
{% endblock %}
