{% extends 'layouts/base_cenario_cadastro.html' %}
{% block title %}Novo Item de Despesa{% endblock %}
{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="d-flex align-items-center mb-4 justify-content-between">
        <div class="d-flex align-items-center">
          <i class="fas fa-plus fa-2x text-primary me-2"></i>
          <h2 class="mb-0">Novo Item de Despesa</h2>
        </div>
      </div>
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <form method="post" class="mb-3">
            {% csrf_token %}
            <div class="row mb-3">
              <div class="col-md-6">
                {{ form.codigo.label_tag }}
                {{ form.codigo }}
              </div>
              <div class="col-md-6">
                {{ form.descricao.label_tag }}
                {{ form.descricao }}
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                {{ form.grupo.label_tag }}
                {{ form.grupo }}
              </div>
            </div>
            <div class="mt-4">
              <button type="submit" class="btn btn-primary px-4">Salvar</button>
              <a href="{% url 'medicos:lista_itens_despesa' empresa_id grupo.id|default:'0' %}" class="btn btn-secondary ms-2 px-4">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
