{% extends "templates/template_cenario_0.html" %}

{% block title %}
  Inclusão de Empresa
{% endblock %}

{% block titulo %}
  <div> <a class="msg"> msg: {{ msg }}</a> </div>
  <h1>Inclusão de Empresa</h1>

{% endblock %}

<style>
  h1 {
    color: red;
  }
  p.msg {
    background-color: hsl(120, 100%, 50%);
  }
</style>

{% block content %}
  <div>

    <!-- main -->
    <div class="main">

      <!-- barra ações-->
      <div>
        <a href= #> Ação1 </a> | <a href= #> Ação2 </a>  
      </div>  

      <div>
        <table> 
          <tr>
            <td>
              <form method="post">{% csrf_token %}
                <table>
                  {% for field in form %}
                    <tr>
                      <th>{{field.label_tag}}</th>
                      <td>
                        {{ field.errors }}
                        {{ field }}
                      </td>
                    </tr>
                  {% endfor %}
                </table>
                <hr/>
                <input type="submit" value="Confirma" />
              </form>
        </table>
      </div>
    </div>

      </div>
    </div>

{% endblock %}
