{% extends "templates/template_cenario_0.html" %}

{% block title %}
Cadastro de Grupos de Despesas
{% endblock %}

{% block titulo %}
  <div> <a class="msg"> msg: {{ msg }}</a> </div>
  <h1>Cadastro de Grupos de Despesas</h1>
{% endblock %}


{% block content %}

    <br>
      <div>
        <a href= "{% url 'medicos:despesa_grupo_incluir' %}" class="btn btn-primary btn-md" role="button"> Cadastrar grupo </a>
        <!--<a href="http://www.google.co.uk/" onclick="return (confirm('Follow this link?'))">Google</a>-->
      </div>
    <br>
    
      <table class="table table-bordered table-striped table-hover " >

                <tr>
                  <th rowspan="1">id</th>          
                  <th rowspan="1">Código</th>
                  <th rowspan="1">Descrição </th>                  
                </tr>
        
                {% for despesa_grupo in lst_despesa_grupo %}
                  <tr>
                    <td><a href= "{% url 'medicos:despesa_grupo_excluir' id=despesa_grupo.id %}"  onclick="return (confirm('Confirma a exclusão?'))" > Excluir </a>|<a  href= "{% url 'medicos:despesa_grupo_editar' id=despesa_grupo.id %}"> Editar </a>{{ forloop.counter }}</td>
                    <td>{{ despesa_grupo.codigo}}</td>    
                    <td>{{ despesa_grupo.descricao}}</td>    
                  </tr>
                {% endfor %}
      </table>

{% endblock %}
