    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit=no />
    <meta name="google-site-verification" content="bBW6t7so6dAw0kHfRhkAxcaQzosrQinyXFYoojcOWeg" />

    {% load static %}
    {% load crispy_forms_tags %}
    {% load render_table from django_tables2 %}

    {# {% load bootstrap5 %} #} 
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    {% load i18n %}
    {% load adsense_tags %}


    <!-- CDN bootstrap  -->    

     {{ form.media.css }} 

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
* {
  box-sizing: border-box;
}

  /*corrigir espaço da class navbar*/
.navbar {margin-bottom: 0;}

.sidebar {

  margin: 0;
  padding: 0;
  /*width: 200px;*/
  background-color: #f1f1f1;
  /*position: fixed;*/
  height: 100%;
  /*overflow: auto;*/

  float: left;
  width: 15%;

}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  /*margin-left: 200px;*/ 
  padding: 1px 16px;
  /*height: 1000px;*/

  float: left;
  width: 85%;
  overflow: scroll; /*auto;*/
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* MY CREATION */

.table {
  border-collapse: collapse;
  width: auto;
}

td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
  /*miltinho*/
}

th {
  border: 2px solid #a1a4a1;
  padding: 8px;
  text-align: center;
  /*miltinho*/
  background-color: #d8d9d8;
}

</style>


