{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

<!DOCTYPE html>
<html >
  <head>

    <!--  SCRIPTS -->
    {% block bl_script %}   
    {% endblock %}

    <!-- Titulo que aparece na barra do navegador  -->
    <title> 
    {% block title %}  
    {% endblock %} 
    </title>

    <!-- styles     -->
    {#{% include 'templates/css_geral.html' %}#}
    {#{% include 'templates/css_layout.html' %}#}

    {% include 'templates/css.html' %}

  </head>

  <body>

   <!-- mensagens popup -->
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}


  <!-- TOP MENU   -->
  {% include 'templates/top_menu.html' %}

  <div class="w3-container w3-border w3-teal">
    <p class="h6" >{{request.session.titulo_1}} </p>
    <a class="h3" >{{request.session.titulo_2}} </a>
    <p class="h6">{{request.session.titulo_3}} </p>
  </div>

  <!-- NAV sidebar -->
  <div class="sidebar">
    {% include 'templates/sidebar_cenario_inicial.html' %}
  </div>

  <!-- CONTEUDO -->
  <div class="content">
    {% block content %} 
    {% endblock %}  
  </div>

     <!-- for select2 -->
    {{ form.media.js }}

  </body>
</html>
