<style>
* {
  box-sizing: border-box;
}


.sidebar {

  margin: 0;
  padding: 0;
  /*width: 200px;*/
  background-color: #f1f1f1;
  /*position: fixed;*/
  height: 100%;
  /*overflow: auto;*/

  float: left;
  width: 15%;

}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  /*margin-left: 200px;*/ 
  padding: 1px 16px;
  /*height: 1000px;*/

  float: left;
  width: 85%;
  overflow: scroll; /*auto;*/
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* MY CREATION */

.table {
  border-collapse: collapse;
  width: auto;
}

td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
  /*miltinho*/
}

th {
  border: 2px solid #a1a4a1;
  padding: 8px;
  text-align: center;
  /*miltinho*/
  background-color: #d8d9d8;
}

</style>
