    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit=no />
    <meta name="google-site-verification" content="bBW6t7so6dAw0kHfRhkAxcaQzosrQinyXFYoojcOWeg" />

    {% load static %}
    {% load crispy_forms_tags %}
    {% load render_table from django_tables2 %}

  {% load django_bootstrap5 %}
    {#{% bootstrap_css %}#}
    {% bootstrap_javascript %}
    {% load i18n %}
    {% load adsense_tags %}


    <!-- CDN bootstrap  -->    

     {{ form.media.css }} 

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- google ads -->
    <script  async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0793490902348411"  crossorigin="anonymous">  </script>

 <style>

</style>

