{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

<!DOCTYPE html>
<html>
  <head>

    <!-- styles -->
    {% include 'medicos/templates/css_main.html' %}

    <!-- SECTION: SCRIPTS -->
    {% block bl_script %}   {% endblock %}
    
    <!-- Titulo que aparece na barra do navegador  -->
    <title>   {% block title %}  {% endblock %} </title>

  </head>

  <body>
  <!-- mensagens popup -->
  {% if messages %}
    {% for message in messages %}
    {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    {% endfor %}
  {% endif %}
  
  <!-- cabeçalho-->
  <div id="header">
  
    <!-- menu top-->
    {% include 'medicos/templates/top_menu.html' %}

      <!-- Descrição da Pagina -->
      <div class="w3-container w3-teal">
        <h3>{{request.session.titulo_1}} </h3>
        <h6>{{request.session.titulo_2}} </h6>
      </div>

  </div>

  <div id="parent">

    <!-- sidebar-->
    <div id="sidebar">  
      <!-- sidebar-->
      {% include 'medicos/templates/sidebar_main.html' %}
    </div>

    <!-- conteudo-->
    <div id="main-content">
      <!-- Corpo da página -->
      <div> 
      {% block content %} 
      {% endblock %} </div> 
      <footer style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;">©  {% now 'Y'  %}  copyright cabatatu</footer>
    </div>

    <!-- for select2 -->
    {{ form.media.js }}

  </body>
</html>
