{% extends "templates/template_cenario_2.html" %}


{% block title %}
{% endblock %}

{% block titulo %}
{% endblock %}

{% block content %}

    <div class="w3-responsive">
            <br>
            <div class="w3-container w3-teal">
              APURAÇÃO IRPJ
            </div>
            <br>

            <table class="table table-bordered table-striped table-hover " >
                 <tr>
                    <th rowspan="1"> Descriçao </th>   
                    {% for csll in apuracao_csll%}  
                    <th rowspan="1" colspan="1"> Trimestre {{ csll.trimestre}}  </th>   
                    {% endfor %}     
                 </tr> 
                 <tr>
                    <td> Receita consultas</td>    
                    {% for irpj in apuracao_irpj%}  
                    <td>{{irpj.receita_consultas|floatformat:2}}</td>
                    {% endfor %}     
                 </tr> 

                 <tr>
                    <td> Receita outros</th>    
                    {% for irpj in apuracao_irpj%}  
                    <td>{{irpj.receita_outros|floatformat:2}}</td>
                    {% endfor %}     
                 </tr> 

                 <tr>
                    <td> Receita bruta</th>    
                    {% for irpj in apuracao_irpj%}  
                    <td>{{irpj.receita_bruta|floatformat:2}}</td>
                    {% endfor %}     
                 </tr> 

                 <tr>
                    <td> Base de calculo</th>    
                    {% for irpj in apuracao_irpj%}  
                    <td>{{irpj.base_calculo|floatformat:2}}</td>
                    {% endfor %}     
                 </tr> 

                 <tr>
                    <td> Rendimento de aplicações</th>    
                    {% comment %} {% for irpj in apuracao_csll%}   {% endcomment %}
                     {% for irpj in apuracao_irpj%}
                    <td>{{irpj.rend_aplicacao|floatformat:2}}</td>
                    {% endfor %}     
                 </tr> 

                 <tr>
                    <td> Base de calculo + Rendimentos</th>    
                    {% comment %} {% for irpj in apuracao_csll%}   {% endcomment %}
                     {% for irpj in apuracao_irpj%}
                    <td>{{irpj.base_calculo_total|floatformat:2}}</td>
                    {% endfor %}     
                 </tr> 

                 <tr>
                    <td> Imposto devido</th>    
                    {% for irpj in apuracao_irpj%}  
                    <td>{{irpj.imposto_devido|floatformat:2}}</td>
                    {% endfor %}     
                 </tr> 

                 <tr>
                    <td> Imposto adicional</th>   
                    {% for irpj in apuracao_irpj%}  
                    <td>{{irpj.imposto_adicional|floatformat:2}}</td>
                    {% endfor %}     
                 </tr> 
             
                 <tr>
                    <td> Imposto retido</th>   
                    {% for irpj in apuracao_irpj%}  
                    <td>{{irpj.imposto_retido|floatformat:2}}</td>
                    {% endfor %}     
                 </tr> 

                 <tr>
                    <td> Retenção de aplicação financeira</th>   
                    {% for irpj in apuracao_irpj%}  
                    <td>{{irpj.irrf_aplicacao|floatformat:2}}</td>
                    {% endfor %}     
                 </tr> 

                 <tr>
                    <td> Imposto a pagar</th>   
                    {% for irpj in apuracao_irpj%}  
                    <td>{{irpj.imposto_pagar|floatformat:2}}</td>
                    {% endfor %}     
                 </tr> 

            </table>

            <hr>
            <br>
            <div class="w3-container w3-teal">
              APURAÇÃO CSLL
            </div>
            <br>

            <table class="table table-bordered table-striped table-hover " >
                 <tr>
                    <th rowspan="1"> Descriçao </th>   
                    {% for csll in apuracao_csll%}  
                    <th rowspan="1" colspan="1"> Trimestre {{ csll.trimestre}}  </th>   
                    {% endfor %}     
                 </tr> 

                 <tr>
                    <td> Receita consultas</th>    
                    {% for csll in apuracao_csll%}  
                    <td>{{csll.receita_consultas|floatformat:2}}</td>
                    {% endfor %}     
                 </tr> 

                 <tr>
                    <td> Receita outros</th>    
                    {% for csll in apuracao_csll%}  
                    <td>{{csll.receita_outros|floatformat:2}}</td>
                    {% endfor %}     
                 </tr> 

                 <tr>
                    <td> Receita bruta</th>    
                    {% for csll in apuracao_csll%}  
                    <td>{{csll.receita_bruta|floatformat:2}}</td>
                    {% endfor %}     
                 </tr> 

                 <tr>
                    <td> Base de calculo</th>    
                    {% for csll in apuracao_csll%}  
                    <td>{{csll.base_calculo|floatformat:2}}</td>
                    {% endfor %}     
                 </tr> 

                 <tr>
                    <td> Rendimento de aplicações</th>    
                    {% for csll in apuracao_csll%}  
                    <td>{{csll.rend_aplicacao|floatformat:2}}</td>
                    {% endfor %}     
                 </tr> 

                 <tr>
                    <td> Base de calculo + Rendimentos</th>    
                    {% for csll in apuracao_csll%}  
                    <td>{{csll.base_calculo_total|floatformat:2}}</td>
                    {% endfor %}     
                 </tr> 

                 <tr>
                    <td> Imposto devido</th>    
                    {% for csll in apuracao_csll%}  
                    <td>{{csll.imposto_devido|floatformat:2}}</td>
                    {% endfor %}    
                 </tr> 

                 <tr>
                    <td> Imposto adicional</th>   
                    {% for csll in apuracao_csll%}  
                    <td>{{csll.imposto_adicional|floatformat:2}}</td>
                    {% endfor %}     
             
                 <tr>
                    <td> Imposto retido</th>   
                    {% for csll in apuracao_csll%}  
                    <td>{{csll.imposto_retido|floatformat:2}}</td>
                    {% endfor %}     
                 </tr> 

                 <tr>
                    <td> Imposto a pagar</th>   
                    {% for csll in apuracao_csll%}  
                    <td>{{csll.imposto_pagar|floatformat:2}}</td>
                    {% endfor %}     
                 </tr> 
            </table>

{% endblock %}
